<!doctype html>
<html>
<head>
  <title>Home /Flaunt-It</title>
  <link href="http://localhost:1337/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="home">
      <div class="container">
        <div class="menu-box">
          <h1>
              Flaunt-It
          </h1>
          <form>
            <!--all the buttons for the menu-->
            <button type="button" class="menu-btn" onclick="location.href='http://localhost:1337/home'">Home</button>
            <button type="button" class="menu-btn" onclick="location.href='http://localhost:1337/message'">Messages</button>
            <button type="button" class="menu-btn" onclick="location.href='http://localhost:1337/profile'">Profile</button>
          </form>
        </div>
        <div class="feed-box">
          <h1>
            Feed
            <p></p>
          </h1>
          <div class="feed-box-outline">
            <div class="post-box">
              <div class = "post-content">
                <p>@username</p>
                <p>Look at this gorgeous view!</p>
                <div class="feed-img">
                  <img src="http://localhost:1337/img/pexels-blue-ox-studio-1857628.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
