<!doctype html>
<html>
<head>
  <title>Home /Flaunt-It</title>
  <link rel="icon" type="image/png" href="http://localhost:1337/img/logo.png"/>
  <link href="http://localhost:1337/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="home">
      <!--Pop up for when the user clicks the post btn-->
      <div id="popup" style="display: none;">
        <form action="/home">
          <input type="text" id="text-input" placeholder="Enter your text">
          <input type="file" id="image-input" accept=".png, .jpg, .jpeg">
          <button id= "upload-btn" type="submit">Post</button>
          <button id="close-btn">X</button>
        </form>
      </div>
      <div class="container">
        <div class="menu-box">
          <h1>
              Flaunt-It
          </h1>
          <form>
            <!--all the buttons for the menu-->
            <button type="button" class="menu-btn" id="home-btn">Home</button>
            <button type="button" class="menu-btn" id="msg-btn">Messages</button>
            <button type="button" class="menu-btn" id="profile-btn" >Profile</button>
            <button type="button" class="post-btn" id="post-btn">Post</button>
            <div class="userProfile" id="userProfile"> </div>
          </form>
        </div>
        <div class="feed-box">
          <h2 id="greeting">Secure area!</h2>
          <h1>
            Feed
            <p></p>
          </h1>
          <div class="feed-box-outline">
            <button type="button" class="post-box">
              <div class = "post-content">
                <p>@username</p>
                <p>Look at this gorgeous view!</p>
                <div class="feed-img">
                  <img src="http://localhost:1337/img/pexels-blue-ox-studio-1857628.jpg">
                </div>
                <div class="container">
                  <button type="button" class="like-btn">
                    <p>❤</p>
                  </button>
                  <button type="button" class="comment-btn">
                    <div class="comment-img">
                      <img src="http://localhost:1337/img/comment-png-1.png">
                    </div>
                  </button>
                </div>
                <div class="post-list" id="posts"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="http://localhost:1337/js/home.js"></script>
  </body>
</html>
