<!doctype html>
<html>
<head>
  <title>Flaunt-It</title>
  <link rel="icon" type="image/png" href="http://localhost:1337/img/logo.png"/>
  <link href="http://localhost:1337/css/style.css" id="style" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <!--image on the left-->
      <div class="log-in-img">
        <img src="http://localhost:1337/img/logo.png">
      </div>
      <!--log in box on the right-->
      <div class = "log-in-form">
        <h1> Flaunt-It</h1>
        <h2>Hello! Choose an account!</h2>
			    <div class= "user-list" id="users"></div>
        <form>
          <input type="email" class="input-box" placeholder="Email or username">
          <input type="password" class="input-box" placeholder="Password">
          <p></p>
          <button type="button" class="sign-up-btn" id="log-in">Log In</button>
          <hr>
          <p class="or"> OR</p>
          <button type="button" class="google-btn" id="log-in-google">Login with Google</button>
          <p>Don't have an account? <a href= "http://localhost:1337/sign-up">Sign Up</a></p>
        </form>
      </div>
    </div>
    <script src="http://localhost:1337/js/index.js"></script>
  </body>
</html>
