<!doctype html>
<html>
<head>
  <title>Twitter</title>
  <link href="../public/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <div class="log-in-img">
        <img src="../public/img/Symbol-Twitter.jpg">
      </div>
      <div class = "log-in-form">
        <h1> Twitter</h1>
        <form>
          <input type="email" class="input-box" placeholder="Email or username">
          <input type="password" class="input-box" placeholder="Password">
          <p></p>
          <button type="button" class="sign-up-btn" onclick="location.href='home.html'">Log In</button>
          <hr>
          <p class="or"> OR</p>
          <button type="button" class="google-btn" onclick="location.href='home.html'">Login with Google</button>
          <p>Don't have an account? <a href= "sign-up.html">Sign Up</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
