<!doctype html>
<html>
<head>
  <title>Twitter</title>
  <link href="http://localhost:1337/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <div class="log-in-img">
        <img src="http://localhost:1337/img/Symbol-Twitter.jpg">
      </div>
      <div class = "sign-up-form">
        <h1> Twitter</h1>
        <form>
          <input type="email" class="input-box" placeholder="Username">
          <input type="email" id="email-input" class="input-box" placeholder="Email">
          <input type="password" class="input-box" id="pass1" placeholder="Password">
          <input type="password" class="input-box" id="pass2" placeholder="Confirm password">
          <!--requirements for password-->
          <div class="passreq">
            <p class="passreq" id="length"> At least eight characters</p>
            <p class="passreq" id="upper"> At least one uppercase letter</p>
            <p class="passreq" id="number"> At least one number</p>
            <p></p>
          </div>
          <button type="button" class="sign-up-btn" onclick="location.href='http://localhost:1337/home'">Sign Up</button>
          <hr>
          <p class="or"> OR</p>
          <button type="button" class="google-btn" onclick="location.href='http://localhost:1337/home'">Sign up with Google</button>
          <p><a href= "http://localhost:1337">Back to login</a></p>
        </form>
      </div>
    <script src="http://localhost:1337/js/sign-up.js"></script>
  </body>
</html>
