<!doctype html>
<html>
<head>
  <title>Flaunt-It</title>
  <link rel="icon" type="image/png" href="http://localhost:1337/img/logo.png"/>
  <link href="http://localhost:1337/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <div class="log-in-img">
        <img src="http://localhost:1337/img/logo.png">
      </div>
      <div class = "sign-up-form">
        <h1> Flaunt-It</h1>
        <form>
          <div class="container">
            <input type="email" id= "first-name" class="name-box-1" placeholder="First Name">
            <input type="email" id= "last-name"class="name-box-2" placeholder="Last Name">
          </div>
          <input type="email" class="input-box" placeholder="Username">
          <input type="email" id="email-input" class="input-box" placeholder="Email">
          <input type="password" class="input-box" id="pass1" placeholder="Password">
          <input type="password" class="input-box" id="pass2" placeholder="Confirm password">
          <!--requirements for password-->
          <div class="passreq">
            <p class="passreq" id="length"> At least eight characters</p>
            <p class="passreq" id="upper"> At least one uppercase letter</p>
            <p class="passreq" id="number"> At least one number</p>
            <p></p>
          </div>
          <button type="button" class="sign-up-btn" id="sign-up">Sign Up</button>
          <hr>
          <p class="or"> OR</p>
          <button type="button" class="google-btn" id="sign-up-google">Sign up with Google</button>
          <p><a href= "http://localhost:1337">Back to login</a></p>
        </form>
      </div>
    </div>
    <script src="http://localhost:1337/js/sign-up.js"></script>
  </body>
</html>
