<!doctype html>
<html>
<head>
  <title>Twitter</title>
  <link href="../public/css/style.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <div class="log-in-img">
        <img src="../public/img/Symbol-Twitter.jpg">
      </div>
      <div class = "sign-up-form">
        <h1> Twitter</h1>
        <form>
          <input type="email" class="input-box" placeholder="Username">
          <input type="email" class="input-box" placeholder="Email">
          <input type="password" class="input-box" placeholder="Password">
          <input type="password" class="input-box" placeholder="Confirm password">
          <p></p>
          <button type="button" class="sign-up-btn" onclick="location.href='home.html'">Sign Up</button>
          <hr>
          <p class="or"> OR</p>
          <button type="button" class="google-btn" onclick="location.href='home.html'">Sign up with Google</button>
          <p><a href= "index.html">Back to login</a></p>
        </form>
      </div>
    <script src="../public/js/password-check.js"></script>
  </body>
</html>
