body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-image: linear-gradient(-45deg, red, black);
}

/*all images*/
img
{
    max-width: 500%;
    max-height: 500%;
    border-radius: 5%;
}

/*layout*/
.container
{
    display: flex;
}

/*input boxes*/
.input-box
{
    border-radius: 20px;
    padding: 10 px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    outline: none;
    text-indent: 10px;
}

.name-box-1
{
    border-radius: 20px;
    padding: 10 px;
    margin: 10px 0;
    width: 50%;
    height: 40px;
    border: 1px solid #999;
    outline: none;
    text-indent: 10px;
}

.name-box-2
{
    border-radius: 20px;
    padding: 10 px;
    margin: 10px 0;
    margin-left: 10px;
    width: 50%;
    height: 40px;
    border: 1px solid #999;
    outline: none;
    text-indent: 10px;
}

/*buttons*/
button
{
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

/*login box*/
.log-in-form
{
    position: relative;
    width :350px;
    height: 650px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 900px;
    margin-top: 35px;
    text-align: center;
}

/*header for login*/
.log-in-form h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: red;
    margin-bottom: 30px;
}

.user-list{
    margin-left: -85px;
}

/*img for login and sign in*/
.log-in-img
{
    position: fixed;
    width: 150px;
    height: 150px;
}

/*sign up box*/
.sign-up-form
{
    position: relative;
    width :350px;
    height: 750px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 900px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

/*password requirements*/
.passreq
{
    color: gray;
    text-align: left;
    line-height: .3;
    margin-left: 5px;
    font-size: 13px;
}

/*sign up header*/
.sign-up-form h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: red;
    margin-bottom: 30px;
}

/*login and sign in buttons*/
.sign-up-btn
{
    background-color: red;
}

.sign-up-btn:hover
{
    background-color: rgb(223, 19, 19);
}

.google-btn
{
    background-color: red;
}

.google-btn:hover
{
    background-color: rgb(223, 19, 19);
}

a
{
    text-decoration: none;
}

/*horizontal line*/
hr
{
    margin-top: 20px;
    width: 80%;
}

/*or on horizontal line*/
.or 
{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}

/*home page*/
.home{
    background-color: black;
}

/*menu box*/
.menu-box
{
    position: relative;
    color: white;
    width :300px;
    height: 550px;
    background: black;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 75px;
    margin-left: 75px;
    text-align: left;
    line-height: .1;
}

/*menu header*/
.menu-box h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin-left: 165px;
    color: red;
}

/*menu buttons*/
.menu-btn
{
    margin-left: 150px;
    width: 200px;
    background-color: transparent;
    font-size: 30px;
    text-align: left;
}

.menu-btn:hover
{
    background-color: rgb(104, 104, 104);
}

.post-btn
{
    margin-left: 150px;
    width: 200px;
    background-color: red;
    font-size: 30px;
    text-align: left;
}

.post-btn:hover
{
    background-color: rgb(222, 0, 0);
}

.user-profile-btn{
    margin-left: 150px;
    width: 200px;
    background-color: transparent;
    font-size: 20px;
    text-align: left;
}

.user-profile-btn:hover
{
    background-color: rgb(104, 104, 104);
}

.user-profile-btn img{
    height: 50px;
    width:50px;
}

/*pop up after hitting post btn*/
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(35, 35, 35);
    background-image: linear-gradient(-45deg, red, black);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
  }

  #close-btn {
    color: white;
    margin-left: -375px;
    margin-top: -150px;
    text-align: center;
    width: 5px;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }


  #upload-btn{
    color: white;
    background-color: rgb(200, 0, 0);
    width: 300px;
  }

  #upload-btn:hover{
    background-color: rgb(209, 11, 11);
  }
  
  #popup::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#popup input{
    border-radius: 10px;
    background-color: transparent;
    border-color: red;
    color: white;
    width: 300px;
    height: 50px;
}

/*feed box*/
.feed-box
{
    position: relative;
    width :500px;
    height: 3500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: black;
    color: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 0px;
    text-align: left;
    line-height: .1;
}

.feed-box h1
{
    color: white;
}

.feed-box h2
{
    margin-top: -50px;
    line-height: 50px;
    color: white;
}

/*border of feed*/
.feed-box-outline
{
    position: absolute;
    width :502px;
    height: 3500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    color: white;
    border-color: #999;
    border: 2px solid gray;
    text-align: left;
    line-height: .1;
}

.post-list{
    color: white;
    line-height: 10px;
    margin-top: 450px;
}

.post-list hr{
    width: 502px;
    margin-left: -40px;
}

.post-list-profile-pic{
    height: 50px;
    width: 50px;
}

.post-list-post-img{
    max-width: 426px;
    max-height: 240px;
}

/*post box*/
.post-box
{
    position: absolute;
    width :503px;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    color: white;
    border-color: #999;
    border: 2px solid gray;
    text-align: left;
    line-height: .1;
    border-radius: 0px;
    margin-top: -3px;
}

.post-box:hover
{
    background-color: rgb(14, 14, 14);
}


/*content inside post box*/
.post-content
{
    margin-bottom: 220px;
    margin-left: -8px;
    line-height: .5;
}

/*template image on feed*/
.feed-img
{
    border-radius: 20px;
    width: 95px;
    height: 95px;
}

.like-btn
{
    display: fixed;
    margin-top: 300px;
    margin-left: 150px;
    width: 50px;
    height: 100px;
    color: black;
    text-shadow: 
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; 
    background-color: transparent;
    font-size: 30px;
    text-align: left;
}

.like-btn:hover
{
    color: rgb(19, 19, 19);
}

.comment-btn
{
    display: fixed;
    margin-top: 305px;
    margin-left: 70px;
    width: 50px;
    height: 50px;
    
    text-shadow: 
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; 
    background-color: transparent;
    font-size: 30px;
    text-align: left;
}

.comment-btn:hover
{
    background-color: rgb(19, 19, 19);
}

.comment-img
{
    border-radius: 20px;
    width: 5px;
    height: 5px;
    margin-top: -13px;
    margin-left: -10px;
}

/* Not Authorized page*/
.notAuth{
    margin-top: 250px;
    background-image: none;
    background-color: black;
    color: white;
    text-align: center;
}

.notAuth button{
    width: 300px;
    font-size: 20px;
    background-image: linear-gradient(-45deg, red, black);
}

.notAuth button:hover{
    background-image: linear-gradient(-45deg, rgb(255, 21, 21), rgb(23, 23, 23));
}



