body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color: black;
}

.log-in-form
{
    width :350px;
    height: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 750px;
    margin-top: 35px;
    text-align: center;
}

.sign-up-form
{
    width :350px;
    height: 600px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 750px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.log-in-form h1
{
    color: red;
    margin-bottom: 30px;
}
.sign-up-form h1
{
    color: red;
    margin-bottom: 30px;
}

.input-box
{
    border-radius: 20px;
    padding: 10 px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    outline: none;
    text-indent: 10px;
}

button
{
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-up-btn
{
    background-color: red;
}

.sign-up-btn:hover
{
    background-color: rgb(223, 19, 19);
}

.google-btn
{
    background-color: red;
}

.google-btn:hover
{
    background-color: rgb(223, 19, 19);
}

a
{
    text-decoration: none;
}

hr
{
    margin-top: 20px;
    width: 80%;
}

.or 
{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}

.log-in-img
{
    width: 150px;
    height: 150px;
}

.container
{
    display: flex;
}

.menu-box
{
    width :300px;
    height: 550px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: black;
    border-radius: 20px;
    padding: 75px;
    margin-left: 75px;
    text-align: left;
    line-height: .1;
}
.menu-box h1
{
    margin-left: 165px;
    color: blue;
}

.menu-btn
{
    margin-left: 150px;
    width: 200px;
    background-color: black;
    font-size: 30px;
    text-align: left;
}

.menu-btn:hover
{
    background-color: rgb(104, 104, 104);
}

.feed-box
{
    position: absolute;
    width :300px;
    height: 550px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: black;
    color: white;
    border-radius: 20px;
    padding: 75px;
    margin-left: 580px;
    text-align: left;
    line-height: .1;
}

.feed-box h1
{
    color: white;
}

.feed-box-outline
{
    position: absolute;
    width :502px;
    height: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    color: white;
    border-color: #999;
    border: 2px solid gray;
    text-align: left;
    
    line-height: .1;
}

.post-box
{
    position: absolute;
    width :500px;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    color: white;
    border-color: #999;
    border: 2px solid gray;
    text-align: left;
    line-height: .1;
}

.post-content
{
    margin-left: 5px;
    line-height: .5;
}

img
{
    max-width: 500%;
    max-height: 500%;
    border-radius: 20px;
}

.feed-img
{
    border-radius: 20px;
    width: 98px;
    height: 98px;
}
